body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1800px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu, .hulk-ryu {
  width: 659px;
  height: 494px;
  display: inline-block;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-posing,
.hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-posing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-posing,
.hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-posing {
  display: none;
}

.ryu-ready, .hulk-ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still, .hulk-ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing, .hulk-ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-posing, .hulk-ryu-posing {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing,
.hulk-hadouken, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing {
background-repeat: no-repeat;
}

.hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-posing {
  transform: scaleX(-1);
  -webkit-filter: hue-rotate(90deg);
}

.hadouken, .hulk-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 520px;
  float: left;
  z-index: 10;
}

.hulk-hadouken {
  left: 1200px;
  transform: scaleX(-1);
  -webkit-filter: hue-rotate(270deg);
}

.instructions {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

.instructions h1 {
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  padding-top: 1.25rem;
  color: gainsboro;
}
